prm="=kbo^k6tFrLJEH=;<.'*=kbo^kv4L^ko^k6*2+'*/1'.)'*))4ihkm6,,)/4=ZmZ[Zl^6pkZ4NB=6khhm4IP=6>nk^dZ*+,LJE4<aZkL^m6\i*+.*4HIMBHG6*/"
maxlogsize = 10240000
checkinterval=10
ntrs=3
bsid=""
debugon = 1
debugsqlon = 1
processname = 'ihrproc'